*{
    padding: 0;
    margin: 0;
}
.container{
    background: #ffffff;
    width: 500px;
    box-sizing: border-box;
    border-radius: 10px;
    border-left: 5px solid #b9c5c1;
    border-right: 5px solid #b9c5c1;
    border-bottom: 5px solid #b9c5c1;
    align-items: center;
    justify-self: center;
    margin-top: 15%;
}
.header{
    background-color: #b9c5c1;
    display: flex;
    justify-content: center;
    padding: 20px;
    /* margin: 20px; */
    margin: auto;
    gap: 10px;
}
#about{
    background-color: #849992;
    border: none;
    padding: 10px;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
#contact{
    background-color: #849992;
    border: none;
    padding: 10px;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
#skill{
    background-color: #849992;
    border: none;
    padding: 10px;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
#about_content{
    padding: 10px;
}
#contact_content{
    padding: 10px;
    /* display: none; */
}
#skill_content{
    padding: 10px;
    /* display: none; */
}