body{
    background-color: #ffffff;
}
.container{
height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 80px;
}
.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome{
    font-size: 30px;
    font-weight: bold;
}

.signup{
    color: #949191;
    opacity: 0.7;
    cursor: pointer;
}

.signup span{
    color: #09549e;
}

.card{
    /* padding: 30px; */
    padding-top: 30px;
    background-color: #ffd6d6;
    width: 30%;
    height: 30%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.input {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

label {
  font-size: 14px;
  font-weight: 500;
  color: #3f3333;
}

input {
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  border: 1px solid #dbd5d5;
  border-radius: 5px;
}

button{
    width: 150px;
    height: 30px;
    background-color: #37ec13;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    cursor: pointer;
}